.container {
    position: relative; 
    height: 940px; 
    
}
img { 
    height: 175px; 
    width: 250px; 
}
	
.first  {
    position: relative; 
    float: left; 
    padding: 10px; 
    margin-right: 20px
}

.second {
    position: absolute; 
    float: left; 
    padding: 10px; 
    top: 350px; 
}

.third {
    position: absolute; 
    left: 299px;  
    padding: 10px; 
    top: 350px; 
}

.fourth {
    position: absolute; 
    float: left; 
    padding: 10px; 
    top: 575px; 
    
}

.all {
    
}

     


    
